.priorities{
    font-family:Avenir;
    font-size:12pt;
    width: 66px;
    height: 23px;
    border-color: steelblue;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: rgb(245, 245, 245);
}
.newItem{
    font-size: 12pt;
    grid-template-columns: 200px 100px;

}



